 body {
   font-family: 'Ubuntu', sans-serif;
   color: #323232;
   font-size: 16px;
   position: relative;
   padding-bottom: 150px;
   min-height: 100vh;
}
.m0-auto {
   margin: 0 auto;
}

.main-footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
